*$py.class
*.py[cod]
*.egg-info
.cache
*.egg
*.egg-info
.idea/
.mypy_cache/
.nox/
.pytest_cache/
.venv
.vim/
.vscode/
.~*
__pycache__/
build/
dist/
downloads/
test-reports/
pages/tags/
assets/images/cache/
node_modules/
tmp/
